@import url('https://fonts.googleapis.com/css?family=Poppins:30,4 400, 500, 600, 700, 800, 900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #333;
	list-style-type: none;
	text-decoration: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;
	background: linear-gradient(  #2b1055,#7597de);
}

body header h1{
    color: aliceblue;
    font-size: 2em;
    font-family: 'poppins', sans-serif;
    writing-mode: vertical-lr;
    rotate: 180deg;
    position: relative;
    display: flex;
    padding-top: 150px;
}
section
 {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }

 section img
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
 }
 #star{
    height: 110%;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    margin-top: -50px;
    padding: 0;
 }
.container{
    margin: 0;
    margin-top: 10%;
    top: 20%;
    left: 0;
    padding: 50px;
    width: 100%;
    height: 110vh;
}

.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	border-radius: 50%;
	background-color: #1c0522;
	box-shadow: 0 0 5px 3px #1c0522;
}

.box::before {
	position: absolute;
	content: '';
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 50%;
	border: 1px solid #1c0522;
}

.box .number span {
	color: #e9e9e9;
}

.box .number .num {
	font-size: 35px;
	font-weight: bold;
}

.box .number .sub {
	font-size: 20px;
}

.box .title {
	font-size: 15px;
	color: #a6bff7;
}

.dots {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 2s transform, 2s opacity ease;
}

.dots::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 5px;
	left: 50%;
	border-radius: 50%;
	background-color: #aeabcf;
	box-shadow: 0 0 5px 2px #1c0522;
	transform: translateX(-50%);
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	transform: rotate(-90deg);
}

.circle {
	stroke: url(#gradientStyle);
	stroke-width: 4px;
	stroke-dasharray: 503;
	stroke-dashoffset: 503;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	transition: 2s stroke-dashoffset;
}
#btn
 {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 20px;
    z-index: 9;
    transform: translateY(100px);
    
 }
